/* line 3, ../sass/_header.scss */
header {
  position: fixed;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dedede;
}
/* line 8, ../sass/_header.scss */
header .header-top {
  background: #293684;
  margin-bottom: 24px;
}
/* line 12, ../sass/_header.scss */
header .main-nav.navbar-default {
  font-size: 0;
  background: transparent;
  border: none;
  margin: 0;
}
/* line 17, ../sass/_header.scss */
header .main-nav.navbar-default ul {
  display: table;
  margin: 0 auto;
  float: none;
}
/* line 22, ../sass/_header.scss */
header .main-nav.navbar-default li {
  display: inline-block;
  margin-right: 45px;
  float: none;
}
/* line 26, ../sass/_header.scss */
header .main-nav.navbar-default li:last-child {
  margin: 0;
}
/* line 30, ../sass/_header.scss */
header .main-nav.navbar-default a {
  padding: 0;
  font-weight: bold;
  display: block;
  color: #fff;
  line-height: 54px;
  font-size: 14px;
  text-decoration: none;
}
/* line 38, ../sass/_header.scss */
header .main-nav.navbar-default a:hover {
  color: #b50000;
}
/* line 43, ../sass/_header.scss */
header .header-contact {
  padding-bottom: 20px;
  background: #fff;
}
/* line 46, ../sass/_header.scss */
header .header-contact .funner-serv {
  text-align: center;
}
/* line 48, ../sass/_header.scss */
header .header-contact .funner-serv a {
  text-decoration: none;
  font-size: 22px;
  color: #293684;
  font-weight: bold;
}
/* line 54, ../sass/_header.scss */
header .header-contact .funner-serv_description {
  color: #b50000;
}
/* line 58, ../sass/_header.scss */
header .header-contact .header-call {
  text-align: right;
}
/* line 60, ../sass/_header.scss */
header .header-contact .header-call_title {
  color: #b50000;
  font-size: 18px;
}
/* line 64, ../sass/_header.scss */
header .header-contact .header-call a {
  font-size: 160%;
  color: #000;
}

/* line 3, ../sass/_sections.scss */
.help-call {
  padding-top: 180px;
  margin-bottom: 30px;
}
/* line 6, ../sass/_sections.scss */
.help-call a {
  display: block;
  text-decoration: none;
  width: 76%;
  margin: 0 auto;
  padding: 10px 0 10px 88px;
  background: url("../img/icons/banner-phone.png") 40px center no-repeat, #b50000;
  color: #fff;
  font-size: 25px;
  text-align: center;
}
/* line 16, ../sass/_sections.scss */
.help-call a span {
  font-weight: 700;
}
/* line 19, ../sass/_sections.scss */
.help-call a:hover {
  text-decoration: none;
}

/* line 24, ../sass/_sections.scss */
.main-banner {
  margin-bottom: 30px;
}
/* line 26, ../sass/_sections.scss */
.main-banner_link {
  margin-bottom: 30px;
  display: block;
}
/* line 29, ../sass/_sections.scss */
.main-banner_link img {
  width: 100%;
}
/* line 33, ../sass/_sections.scss */
.main-banner .partners ul {
  display: table;
  margin: 0 auto;
}
/* line 36, ../sass/_sections.scss */
.main-banner .partners ul li {
  display: table-cell;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
@media only screen and (max-width: 992px) {
  /* line 45, ../sass/_media.scss */
  .header-contact .header-contact_link {
    text-align: center !important;
    margin-bottom: 30px;
  }
}
/* Desktops and laptops ----------- */
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
/* line 6, ../sass/main.scss */
body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

/* line 11, ../sass/main.scss */
.container {
  margin: 0 auto;
}

/* line 15, ../sass/main.scss */
ul.list-unstyled {
  list-style: none;
}

/* line 19, ../sass/main.scss */
.blu-title {
  font-weight: bold;
  color: #003370;
}
