@import "vars";

nav.main-nav.navbar-default {
  background: $blue;
  ul.nav.navbar-nav {
    float: none;
    display: table;
    margin: 0 auto;
  }
  a {
    color: $accent-txt;
    padding-right: 2.2rem;
    font-weight: bold;
    &:hover {
      color: $red;
    }
  }
}

.header-contact {
  margin-top: 7.0rem;
  margin-bottom: 2.5rem;
  background: #fff;
  .funner-serv {
    text-align: center;
    a {
      text-decoration: none;
      font-size: 2.2rem;
      color: $blue;
      font-weight: bold;
    }
    &_description {
      color: $red;
    }
  }
  .header-call {
    text-align: right;
    &_title {
      color: $red;
      font-size: 1.8rem;
    }
    a {
      font-size: 1.6rem;
      color: $main-txt;
    }
  }
}
