/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* Styles */
}

@media only screen
and (max-width : 500px) {
  div .container h2,
  div .container h2.bold-heading {
    font-size: 25px;
  }
  footer .footer-info {
    margin-bottom: 30px !important;
  }
}

@media only screen
and (max-width : 992px) {
  nav.main-nav.navbar-default {
    ul.nav.navbar-nav {
      display: block;
      margin: 0;
    }
    li {
      width: 100%;
      padding-left: 25%;
    }
    a {
      margin: 0 auto;
    }
  }
  div.privileges {
    margin-bottom: 2.5rem;
  }
  .memo-item,
  .special-serv_item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.5rem;
    padding-bottom: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .funner-cost_item {
    width: 49.4845%;
    margin-right: 1.031%;
    margin-bottom: 1.5rem;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  .privileges-item {
    width: 49.4845%;
    margin-right: 1.031%;
    margin-bottom: 1.5rem;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  footer .footer-info,
  footer .footer-call {
    width: 100%;
    text-align: center;
  }
  footer .footer-info,
  footer .footer-call_title {
    font-size: 1.8rem;
  }
}

@media only screen
and (max-width : 767px) {
  .service-table:last-child {
    margin-bottom: 2rem;
  }
  .special-serv .item-description {
    padding: 0;
  }
  .funner-cost_item,
  .privileges-item,
  .funner-free_item,
  .up-guarantee_item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .header-contact .header-contact_link {
    text-align: center !important;
    margin-bottom: 3rem;
  }
  .special-serv_item {
     margin-bottom: 30px;
     .item-description {
       font-size: 110%;
     }
   }
  .funner-cost_item {
    font-size: 1.8rem;
  }
  .privileges .item-wrapper {
    padding-bottom: 0;
  }
  .privileges-item_cost {
    position: static;
  }
  .privileges-item_description {
    font-size: 120%;
  }
  .funner-free_banner {
    background: none;
    padding-top: 3%;
    padding-left: 0;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}