@import "variables";

section {
  margin-bottom: 40px;
}
section .container {
  h2 {
    text-align: center;
    font-size: 40px;
    margin: 0 0 20px;
    color: $blue;
  }
  .bold-heading {
    font-weight: bold;
    font-size: 38px;
  }
  .light-heading {
    color: $section-heading;
  }
  table tbody tr td {
    padding: 0;
    border: none;
  }
  .sub-heading {
    text-align: center;
    color: $red;
    font-size: 28px;
    margin: 0 0 25px;
    &.special-sub-heading {
      font-weight: bold;
      font-size: 20px;
      span {
        font-size: 32px;
      }
    }
  }
  .heading-img {
    text-align: center;
    margin-bottom: 10px;
  }
}

.help-call {
  padding-top: 180px;
  margin-bottom: 30px;
  a  {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    color: $accent-txt;
    span {
      font-weight: 700;
    }
  }
  &_big {
    width: 76%;
    padding: 10px 0 10px 88px;
    background: url("../img/icons/banner-phone.png") 40px center no-repeat, $red;
    font-size: 25px;
  }
  &_small {
    width: 100%;
    padding: 10px 10px 6%;
    background: url("../img/icons/banner-phone.png") center 95% no-repeat, #b50000;
    background-size: 5%;
    font-size: 20px;
  }
}
.main-banner {
  margin-bottom: 30px;
  &_link {
    margin-bottom: 30px;
    display: block;
    img {
      width: 100%;
    }
  }
  .partners ul {
    text-align: center;
    display: table;
    font-size: 0;
    margin: 0 auto;
    li {
      font-size: 100%;
      display: inline-block;
    }
    a {
      display: block;
    }
  }
}
// Список первоочередных действий в случае наступлении смерти близкого человека
.memo {
  &-title {
    margin: 0 0 20px;
    text-align: center;
    font-size: 24px;
  }
  &-item {
    font-size: 0;
    margin-bottom: 10px;
    min-height: 100px;
    &_wrapper {
      padding: 15px;
      border: 2px solid $border;
      height: 100%;
      border-radius: 2px;
    }
    &_number {
      float: left;
      margin-right: 10px;
      line-height: 70px;
      padding: 0 40px;
      background: $red;
      color: $accent-txt;
      font-size: 32px;
      border-radius: 5px;
    }
    &_description {
      font-size: 18px;
      a {
        color: inherit;
      }
    }
  }
  &-attention {
    box-shadow: 0px 3px 4px #b0b0b0;
    text-align: center;
    padding: 10px;
    border: 1px solid $border;
    border-radius: 4px;
    &_title {
      font-size: 24px;
      color: $red;
      margin-bottom: 25px;
      font-weight: bold;
    }
    &_description {
      margin: 0;
      font-size: 18px;
    }
  }
}
// Московская городская специализированная служба по вопросам похоронного дела
.special-serv {
  &_item {
    padding: 0 10px 0 0;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .item-title {
    font-size: 22px;
    margin-bottom: 20px;
    color: $red;
    font-weight: bold;
  }
  .item-description {
    font-size: 18px;
    margin: 0;
    padding: 0 20% 0 0;
  }
}
// Стоимость организации похорон
.funner-cost {
  margin-bottom: 0;
  &_item {
    text-align: center;
    li {
      width: 83.6%;
      margin: 0 auto;
      padding: 10px 5px;
      border-top: 1px solid $border;
      border-bottom: 1px solid $border;
      span {
        color: $red;
        font-weight: bold;
      }
      &:first-child {
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    .item-wrapper {
      border: 2px solid $blue;
      height: 100%;
    }
    &-heading {
      font-weight: bold;
      color: $accent-txt;
      background: $blue;
      border: 5px solid $border-blue;
      padding: 30px 20px;
      margin-bottom: 10px;
      .item-heading_title {
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .item-heading_service {
        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
      .item-heading_single-cost {
        font-size: 40px;
      }
      span {
        font-weight: normal;
        font-size: 14px;
      }
    }
  }
  &_footnote {
    text-align: center;
    line-height: 56px;
    font-weight: bold;
    font-style: italic;
  }
}
// Льготы на организацию похорон
.privileges {
  &-item {
    color: $accent-txt;
    font-weight: bold;
    text-align: center;

    &_cost {
      position: absolute;
      font-size: 35px;
      left: 25%;
      span {
        font-weight: normal;
        font-size: 14px;
      }
    }
  }
  .item-wrapper {
    position: relative;
    height: 100%;
    padding: 10px 30px 65%;
  }
  .item-blue {
    background: $blue;
    border: 4px solid $border-blue;
    .privileges-item_cost {
      bottom: 25%;
    }
  }
  .item-red {
    background: $red;
    border: 4px solid $border-red;
    .privileges-item_cost {
      bottom: 12%;
    }
  }
}
// Безвозмездные похороны
.funner-free {
  &_banner {
    margin-bottom: 25px;
    img {
      width: 100%;
    }
  }
  &_memo-title {
    font-weight: bold;
    margin-bottom: 35px;
  }
  &_memo-list {
    padding: 0 0 0 15px;
    margin: 0 0 15px;
  }
  &_memo-attention {
    margin: 0;
    color: $red;
    font-style: italic;
    font-weight: bold;
  }
}
// Блоки с синими и красными шапками
.service-table {
  font-size: 16px;
  margin-bottom: 20px;
  .item-wrapper {
    height: 100%;
    border: 2px solid $border;
  }
  .item-heading {
    text-align: center;
    color: $accent-txt;
    font-size: 24px;
    line-height: 60px;
    &_blue {
      background: $blue;
      border: 4px solid $border-blue;
    }
    &_red {
      background: $red;
      border: 4px solid $border-red;
    }
  }
  .item-description {
    padding: 20px 20px;
    font-size: 16px;
    li {
      display: block;
      padding-left: 30px;
      position: relative;
      margin-bottom: 20px;
      &:before {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 0;
        background: url(../img/icons/check-ico.png) left center no-repeat;
        background-size: cover;
      }
    }
  }
}
// Сверх гарантии
.up-guarantee {
  &_item {
    margin-bottom: 25px;
    ul {
      font-weight: bold;
      span {
        color: $red;
      }
    }
  }
  .banner-church {
    text-align: center;
    &_img {
      display: block;
      margin-bottom: 40px;
    }
    &_call {
      font-weight: bold;
      font-size: 20px;
      a {
        color: $red;
        display: block;
        font-size: 26px;
      }
    }
  }
}
.address-map {
  margin-bottom: 10px;
  .yandex-map  {
    margin-bottom: 20px;
  }
  .hot-line {
    text-align: center;
    p {
      margin: 0 0 24px;
    }
    font-weight: bold;
    font-size: 28px;
    a {
      font-size: 36px;
      color: $red;
    }
  }
}
