@import "vars";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "header";
@import "sections";
@import "footer";
@import "media";

.equal-height {
  width: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.equal-height_item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 1.4rem;
  color: $main-txt;
}

.container-my {
  margin: 0 auto;
}

ul.list-unstyled {
  list-style: none;
}

.blu-title {
  font-weight: bold;
  color: $light-blue;
}

.flex-row.row {
  display: flex;
  flex-wrap: wrap;
}
.flex-row.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.flex-row.row:after,
.flex-row.row:before {
  display: flex;
}