@import "variables";
@import "bootstrap-sass/bootstrap";
@import "header";
@import "sections";
@import "footer";
@import "media";

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: $main-txt;
}

ul.list-unstyled {
  list-style: none;
}

.blu-title {
  font-weight: bold;
  color: $light-blue;
}