@import "vars";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "header";
@import "sections";
@import "footer";
@import "media";

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: $main-txt;
}

ul.list-unstyled {
  list-style: none;
}

.blu-title {
  font-weight: bold;
  color: $light-blue;
}

.flex-row.row {
  display: flex;
  flex-wrap: wrap;
}
.flex-row.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.flex-row.row:after,
.flex-row.row:before {
  display: flex;
}